body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s;
}
#message {
    font-size: 2em;
    display: none;
}
.content{
 
}

.hover-button {
    background-color: blue;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hover-button:hover {
    background-color: pink;
}